name: Release Flow

on:
  workflow_dispatch:
    inputs:
      newVersion:
        description: 'New version'
        required: true
        default: 'invalid'

permissions:
  id-token: write
  contents: read
  
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.REPO_TOKEN }}
      - name: Install node
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - name: Update version
        uses: reedyuk/npm-version@1.1.1
        with:
          version: ${{ github.event.inputs.newVersion }}
          git-tag-version: 'false'
      - name: Tag
        uses: EndBug/add-and-commit@v9
        with:
          add: 'package.json'
          author_name: 'JobRouterBot'
          author_email: 'opensource@jobrouter.com'
          message: 'Bump version to ${{ github.event.inputs.newVersion }}'
          push: true
          remove: ''
          commit: --signoff
          tag: 'v${{ github.event.inputs.newVersion }}'
      - name: Publish
        uses: JS-DevTools/npm-publish@v4
